<div class="px-10 flex justify-between items-center bg-blue-500 dark:bg-gray-900 h-20 sticky top-0 relative z-50 stickymenu-off">
	<div class="w-40">
		<div class="site-logo py-5">
			<span class="custom-logo-link"><img width="358" height="128" src="https://www.ptitclub.fr/wp-content/uploads/2022/10/Logo-1Ligne_PtitClub@2x.webp" class="custom dark:grayscale" alt="" decoding="async" srcset="https://www.ptitclub.fr/wp-content/uploads/2022/10/Logo-1Ligne_PtitClub@2x.webp 358w, https://www.ptitclub.fr/wp-content/uploads/2022/10/Logo-1Ligne_PtitClub@2x-300x107.webp 300w" sizes="(max-width: 358px) 100vw, 358px"></span>
		</div>

	</div>

	<nav id="site-navigation" aria-label="Main Navigation" class="list-none lg:flex justify-items-center h-full">

		<ul id="primary-menu" class="menu xl:flex items-center hidden relative z-40 text-sm xl:text-base space-x-4 xl:space-x-8 font-bold">
			<li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-234">
				<a href="https://www.ptitclub.fr/qui-sommes-nous/" class=" text-white hover:border-white font-light">Qui
															                    sommes nous</a>
				<ul class="sub-menu">
					<li id="menu-item-42214" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42214 mb-2">
						<a href="https://www.ptitclub.fr/qui-sommes-nous#section_notre_manifeste" class=" text-white hover:border-white font-light text-black py-1 font-light">Notre
																					                            manifeste</a>
					</li>
					<li id="menu-item-42215" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42215 mb-2">
						<a href="https://www.ptitclub.fr/qui-sommes-nous#section_nos_engagements" class=" text-white hover:border-white font-light text-black py-1 font-light">Nos
																					                            engagements</a>
					</li>
					<li id="menu-item-42216" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42216 mb-2">
						<a href="https://www.ptitclub.fr/qui-sommes-nous#section_notre_champ_daction" class=" text-white hover:border-white font-light text-black py-1 font-light">Notre Champs
																					                            d’action</a>
					</li>
					<li id="menu-item-42217" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42217 mb-2">
						<a href="https://www.ptitclub.fr/qui-sommes-nous#section_notre_equipage" class=" text-white hover:border-white font-light text-black py-1 font-light">Notre
																					                            équipage</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-244" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-244">
				<a href="https://www.ptitclub.fr/vous-etes/" class=" text-white hover:border-white font-light">Vous
															                    êtes…</a>
				<ul class="sub-menu">
					<li id="menu-item-247" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247 mb-2">
						<a href="https://www.ptitclub.fr/vous-etes/je-suis-parent/" class=" text-white hover:border-white font-light text-black py-1 font-light">Vous êtes
																					                            parent?</a>
					</li>
					<li id="menu-item-246" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246 mb-2">
						<a href="https://www.ptitclub.fr/vous-etes/je-suis-dirigeant-rh/" class=" text-white hover:border-white font-light text-black py-1 font-light">Vous êtes
																					                            dirigeant.e/RH ?</a>
					</li>
					<li id="menu-item-245" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245 mb-2">
						<a href="https://www.ptitclub.fr/vous-etes/je-suis-acteur-collectivite/" class=" text-white hover:border-white font-light text-black py-1 font-light">Vous êtes
																					                            acteur collectivité ?</a>
					</li>
					<li id="menu-item-248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248 mb-2">
						<a href="https://www.ptitclub.fr/vous-etes/je-suis-professionnel-petite-enfance/" class=" text-white hover:border-white font-light text-black py-1 font-light">Vous êtes
																					                            professionnel.le de la Petite Enfance ?</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-222" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-222">
				<a href="https://www.ptitclub.fr/nos-creches/" class=" text-white hover:border-white font-light">Nos
															                    crèches</a>
				<ul class="sub-menu">
					<li id="menu-item-42218" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42218 mb-2">
						<a href="https://www.ptitclub.fr/nos-creches#section_pourquoi_les_creches" class=" text-white hover:border-white font-light text-black py-1 font-light">Nos
																					                            fondamentaux</a>
					</li>
					<li id="menu-item-42219" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42219 mb-2">
						<a href="https://www.ptitclub.fr/nos-creches#section_un_accueil_individualise_pour_chaque_enfant" class=" text-white hover:border-white font-light text-black py-1 font-light">Notre
																					                            pédagogie</a>
					</li>
					<li id="menu-item-226" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226 mb-2">
						<a href="https://www.ptitclub.fr/nos-creches/reserver-une-place/" class=" text-white hover:border-white font-light text-black py-1 font-light">Réserver une
																					                            place</a>
					</li>
					<li id="menu-item-223" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223 mb-2">
						<a href="https://www.ptitclub.fr/nos-creches/questions-reponses/" class=" text-white hover:border-white font-light text-black py-1 font-light">Questions /
																					                            réponses</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-229" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-229">
				<a href="https://www.ptitclub.fr/hisseo-la-parentalite-epanouie/" class=" text-white hover:border-white font-light">Hisséo, la parentalité épanouie</a>
				<ul class="sub-menu">
					<li id="menu-item-42220" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42220 mb-2">
						<a href="https://www.ptitclub.fr/hisseo-la-parentalite-epanouie#section_un_lieu_vivant_pour_co_construire" class=" text-white hover:border-white font-light text-black py-1 font-light">Hisséo : lieu
																					                            d’échanges</a>
					</li>
					<li id="menu-item-42221" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42221 mb-2">
						<a href="https://www.ptitclub.fr/hisseo-la-parentalite-epanouie#section_formations_ateliers" class=" text-white hover:border-white font-light text-black py-1 font-light">Nos
																					                            évènements/ateliers</a>
					</li>
					<li id="menu-item-42222" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42222 mb-2">
						<a href="https://www.ptitclub.fr/hisseo-la-parentalite-epanouie#section_hisseo_un_espace_ouvert_a_tous" class=" text-white hover:border-white font-light text-black py-1 font-light">Réserver une
																					                            salle</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-218" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-218">
				<a href="https://www.ptitclub.fr/fonder-une-creche/" class=" text-white hover:border-white font-light">Fonder une crèche</a>
				<ul class="sub-menu">
					<li id="menu-item-42223" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42223 mb-2">
						<a href="https://www.ptitclub.fr/fonder-une-creche#section_un_lieu_vivant_pour_co_construire" class=" text-white hover:border-white font-light text-black py-1 font-light">À la rencontre
																					                            des Capitaines</a>
					</li>
					<li id="menu-item-42224" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42224 mb-2">
						<a href="https://www.ptitclub.fr/fonder-une-creche#section_pourquoi_est_important_agir" class=" text-white hover:border-white font-light text-black py-1 font-light">Devenez
																					                            Capitaine de crèche</a>
					</li>
					<li id="menu-item-42225" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42225 mb-2">
						<a href="https://www.ptitclub.fr/fonder-une-creche#section_point_temoignages" class=" text-white hover:border-white font-light text-black py-1 font-light">Témoignages de
																					                            dirigeants engagé.e.s</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-240">
				<a href="https://www.ptitclub.fr/rejoindre-notre-equipage/" class=" text-white hover:border-white font-light">Rejoindre l’équipe</a>
				<ul class="sub-menu">
					<li id="menu-item-42226" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42226 mb-2">
						<a href="https://www.ptitclub.fr/rejoindre-notre-equipage#section_collectif_en_action" class=" text-white hover:border-white font-light text-black py-1 font-light">Le collectif en
																					                            action</a>
					</li>
					<li id="menu-item-241" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-241 mb-2">
						<a href="https://www.ptitclub.fr/rejoindre-notre-equipage/nos-offres-demploi/" class=" text-white hover:border-white font-light text-black py-1 font-light">Nos offres
																					                            d’emplois</a>
					</li>
					<li id="menu-item-42372" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42372 mb-2">
						<a href="https://www.ptitclub.fr/rejoindre-notre-equipage#section_point_temoignages" class=" text-white hover:border-white font-light text-black py-1 font-light">Paroles
																					                            d’équipiers</a>
					</li>
				</ul>
			</li>
			<li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216">
				<a href="https://www.ptitclub.fr/blog/" class=" text-white hover:border-white font-light">Blog</a>
			</li>
			<li id="menu-item-217" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217">
				<a href="https://www.ptitclub.fr/contact/" class=" text-white hover:border-white font-light">Contact</a>
			</li>
		</ul>
		<div class="inline-flex xl:hidden h-[5rem] xl:h-0" data-x-data="{ open: false }">
			<button class="flex-none px-2 " data-x-on:click="open = true">
				<span class="space-y-2">
					<span class="block w-8 h-0.5 bg-white"></span>
					<span class="block w-8 h-0.5 bg-white"></span>
					<span class="block w-8 h-0.5 bg-white"></span>
				</span>
				<span class="sr-only">Open Menu</span>
			</button>
			<div class="absolute top-0 left-0 right-0 z-50 flex flex-col p-2 pb-4 m-2 space-y-3 bg-white rounded shadow" data-x-show.transition="open" data-x-transition="" data-x-on:click.away="open = false" style="display: none;">
				<button class="menu-toggle self-end flex-none px-2 ml-2" data-x-on:click="open = false">
					<svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewbox="0 0 24 24" stroke="currentColor">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
					</svg>
					<span class="sr-only">Close Menu</span>
				</button>
				<ul id="mobile" class="menu space-y-5">
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-234 border-b border-secondary pb-2">
						<div class="flex justify-between mr-5">
							<a href="https://www.ptitclub.fr/qui-sommes-nous/" class=" text-black font-medium px-5">Qui sommes nous</a>
							<span aria-expanded="true" aria-controls="sub-menu-item-234">
								<span aria-hidden="true">+</span>
								<span class="sr-only">Ouvrir le sous-menu</span>
							</span>
						</div>
						<ul class="sub-menu bg-gray-100 mt-2 p-5" id="sub-menu-item-234" style="display:none">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42214 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/qui-sommes-nous#section_notre_manifeste" class=" text-black  font-medium">Notre manifeste</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42215 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/qui-sommes-nous#section_nos_engagements" class=" text-black  font-medium">Nos engagements</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42216 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/qui-sommes-nous#section_notre_champ_daction" class=" text-black  font-medium">Notre Champs d’action</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42217 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/qui-sommes-nous#section_notre_equipage" class=" text-black  font-medium">Notre équipage</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-244 border-b border-secondary pb-2">
						<div class="flex justify-between mr-5">
							<a href="https://www.ptitclub.fr/vous-etes/" class=" text-black font-medium px-5">Vous êtes…</a>
							<span aria-expanded="true" aria-controls="sub-menu-item-244">
								<span aria-hidden="true">+</span>
								<span class="sr-only">Ouvrir le sous-menu</span>
							</span>
						</div>
						<ul class="sub-menu bg-gray-100 mt-2 p-5" id="sub-menu-item-244" style="display:none">
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-247 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/vous-etes/je-suis-parent/" class=" text-black  font-medium">Vous êtes parent?</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-246 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/vous-etes/je-suis-dirigeant-rh/" class=" text-black  font-medium">Vous êtes dirigeant.e/RH ?</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-245 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/vous-etes/je-suis-acteur-collectivite/" class=" text-black  font-medium">Vous êtes acteur collectivité ?</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-248 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/vous-etes/je-suis-professionnel-petite-enfance/" class=" text-black  font-medium">Vous êtes professionnel.le de la Petite Enfance
																														                                        ?</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-222 border-b border-secondary pb-2">
						<div class="flex justify-between mr-5">
							<a href="https://www.ptitclub.fr/nos-creches/" class=" text-black font-medium px-5">Nos crèches</a>
							<span aria-expanded="true" aria-controls="sub-menu-item-222">
								<span aria-hidden="true">+</span>
								<span class="sr-only">Ouvrir le sous-menu</span>
							</span>
						</div>
						<ul class="sub-menu bg-gray-100 mt-2 p-5" id="sub-menu-item-222" style="display:none">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42218 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/nos-creches#section_pourquoi_les_creches" class=" text-black  font-medium">Nos fondamentaux</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42219 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/nos-creches#section_un_accueil_individualise_pour_chaque_enfant" class=" text-black  font-medium">Notre pédagogie</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-226 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/nos-creches/reserver-une-place/" class=" text-black  font-medium">Réserver une place</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-223 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/nos-creches/questions-reponses/" class=" text-black  font-medium">Questions / réponses</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-229 border-b border-secondary pb-2">
						<div class="flex justify-between mr-5">
							<a href="https://www.ptitclub.fr/hisseo-la-parentalite-epanouie/" class=" text-black font-medium px-5">Hisséo, la parentalité épanouie</a>
							<span aria-expanded="true" aria-controls="sub-menu-item-229">
								<span aria-hidden="true">+</span>
								<span class="sr-only">Ouvrir le sous-menu</span>
							</span>
						</div>
						<ul class="sub-menu bg-gray-100 mt-2 p-5" id="sub-menu-item-229" style="display:none">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42220 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/hisseo-la-parentalite-epanouie#section_un_lieu_vivant_pour_co_construire" class=" text-black  font-medium">Hisséo : lieu d’échanges</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42221 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/hisseo-la-parentalite-epanouie#section_formations_ateliers" class=" text-black  font-medium">Nos évènements/ateliers</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42222 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/hisseo-la-parentalite-epanouie#section_hisseo_un_espace_ouvert_a_tous" class=" text-black  font-medium">Réserver une salle</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-218 border-b border-secondary pb-2">
						<div class="flex justify-between mr-5">
							<a href="https://www.ptitclub.fr/fonder-une-creche/" class=" text-black font-medium px-5">Fonder une crèche</a>
							<span aria-expanded="true" aria-controls="sub-menu-item-218">
								<span aria-hidden="true">+</span>
								<span class="sr-only">Ouvrir le sous-menu</span>
							</span>
						</div>
						<ul class="sub-menu bg-gray-100 mt-2 p-5" id="sub-menu-item-218" style="display:none">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42223 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/fonder-une-creche#section_un_lieu_vivant_pour_co_construire" class=" text-black  font-medium">À la rencontre des Capitaines</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42224 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/fonder-une-creche#section_pourquoi_est_important_agir" class=" text-black  font-medium">Devenez Capitaine de crèche</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42225 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/fonder-une-creche#section_point_temoignages" class=" text-black  font-medium">Témoignages de dirigeants engagé.e.s</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-240 border-b border-secondary pb-2">
						<div class="flex justify-between mr-5">
							<a href="https://www.ptitclub.fr/rejoindre-notre-equipage/" class=" text-black font-medium px-5">Rejoindre l’équipe</a>
							<span aria-expanded="true" aria-controls="sub-menu-item-240">
								<span aria-hidden="true">+</span>
								<span class="sr-only">Ouvrir le sous-menu</span>
							</span>
						</div>
						<ul class="sub-menu bg-gray-100 mt-2 p-5" id="sub-menu-item-240" style="display:none">
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42226 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/rejoindre-notre-equipage#section_collectif_en_action" class=" text-black  font-medium">Le collectif en action</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-241 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/rejoindre-notre-equipage/nos-offres-demploi/" class=" text-black  font-medium">Nos offres d’emplois</a>
								</div>
							</li>
							<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42372 mb-2">
								<div class="flex justify-between mr-5">
									<a href="https://www.ptitclub.fr/rejoindre-notre-equipage#section_point_temoignages" class=" text-black  font-medium">Paroles d’équipiers</a>
								</div>
							</li>
						</ul>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216 border-b border-secondary pb-2">
						<div class="flex justify-between mr-5">
							<a href="https://www.ptitclub.fr/blog/" class=" text-black font-medium px-5">Blog</a>
						</div>
					</li>
					<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-217 border-b border-secondary pb-2">
						<div class="flex justify-between mr-5">
							<a href="https://www.ptitclub.fr/contact/" class=" text-black font-medium px-5">Contact</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>
<!-- #site-navigation  -->
